button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }


button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

  
  *, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }



.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fd5927;
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  /* line 11, sass/libs/_component.scss */
  .button:hover {
    background-color: #fd805a; }
  /* line 15, sass/libs/_component.scss */
  .button.primary {
    background-color: #fd5927; }
    /* line 17, sass/libs/_component.scss */
    .button.primary:hover {
      background-color: #fd805a; }
  /* line 21, sass/libs/_component.scss */
  .button.secondary {
    background-color: #848484;
    color: white; }
    /* line 24, sass/libs/_component.scss */
    .button.secondary:hover {
      background-color: #9e9e9e; }
  /* line 29, sass/libs/_component.scss */
  .button.small {
    padding: 5px 10px; }
  /* line 33, sass/libs/_component.scss */
  .button.cut-corner {
    background: -webkit-linear-gradient(90deg, #fd5927, #fd5927) top left, -webkit-linear-gradient(90deg, #fd5927, #fd5927) top right, -webkit-linear-gradient(135deg, transparent 10px, #fd5927 0) bottom right, -webkit-linear-gradient(90deg, #fd5927, #fd5927) bottom left;
    background: linear-gradient(0deg, #fd5927, #fd5927) top left, linear-gradient(0deg, #fd5927, #fd5927) top right, linear-gradient(315deg, transparent 10px, #fd5927 0) bottom right, linear-gradient(0deg, #fd5927, #fd5927) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat; }
    /* line 41, sass/libs/_component.scss */
    .button.cut-corner:hover {
      background: -webkit-linear-gradient(90deg, #fd805a, #fd805a) top left, -webkit-linear-gradient(90deg, #fd805a, #fd805a) top right, -webkit-linear-gradient(135deg, transparent 10px, #fd805a 0) bottom right, -webkit-linear-gradient(90deg, #fd805a, #fd805a) bottom left;
      background: linear-gradient(0deg, #fd805a, #fd805a) top left, linear-gradient(0deg, #fd805a, #fd805a) top right, linear-gradient(315deg, transparent 10px, #fd805a 0) bottom right, linear-gradient(0deg, #fd805a, #fd805a) bottom left;
      background-size: 55% 55%;
      background-repeat: no-repeat; }
    /* line 50, sass/libs/_component.scss */
    .button.cut-corner:active {
      background: -webkit-linear-gradient(90deg, #d63302, #d63302) top left, -webkit-linear-gradient(90deg, #d63302, #d63302) top right, -webkit-linear-gradient(135deg, transparent 10px, #d63302 0) bottom right, -webkit-linear-gradient(90deg, #d63302, #d63302) bottom left;
      background: linear-gradient(0deg, #d63302, #d63302) top left, linear-gradient(0deg, #d63302, #d63302) top right, linear-gradient(315deg, transparent 10px, #d63302 0) bottom right, linear-gradient(0deg, #d63302, #d63302) bottom left;
      background-size: 55% 55%;
      background-repeat: no-repeat; }



.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  
  
 
  @media (min-width: 768px) {
    
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
 
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
 
    .container {
      width: 1170px; } }


 
  
  
    .site-footer .newsletter-form input[type="email"] {
      width: 80%;
      padding: 25px;
      border: none;
      float: left;
      background: #353535;
      color: white;
      outline: none;
      -webkit-transition: .3s ease;
              transition: .3s ease; }



